@mixin all_style(){
  width: 88%;
  margin: 0 auto;
  font-family: 微软雅黑;
  .head-line{
    margin: 10px;
  }

  .body{
    position: relative;
    margin: 20px;
    .part-left{
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .part-right{
      position:absolute;
      top: 0px;
      right: 0px;
    }
    .part-center{
      hr{
        margin-top: 0px;
      }
    }
    .save-script{
      float:right;
      margin-right: 10px;
    }
    .float-right-bottom-button{
      float:right;
      margin-right: 10px;
    }
  }

  .body-footer-line{
    margin-top:40px;
  }

  .middle-line{
    margin-top: 100px;
  }

  .footer-button{
    margin-top: 10px;
    .open-permit-operation{
      margin-top: 10px;
      font-size: 14px;
    }
  }

  .footer-line{
    margin-top: 150px;
  }
}

.text-conversion{
  @include all_style;
}

.article_insert_page{
  @include all_style;
}